main {
  height: 100%;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  color: #504f4f;
  font-size: 2rem;
  font-weight: bold;
}

/* Grid produk */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

/* Card produk */
.product-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px;
  transition: transform 0.2s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  width: auto;
  height: 200px;
  object-fit: cover;
}
.product-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
  color: #504f4f;
}
.product-card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #4f4f4f;
  background: #ffeda545;
  padding: 5px;
  font-weight: bold;
}
button {
  background: #f0f0f0;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 15px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button,
a {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.1s;
  text-decoration: none;
  color: #000;
}
button:hover {
  background: #03a3d4;
  color: #fff;
}
.shopping-cart {
  position: relative;
  cursor: pointer;
}
.shopping-cart i {
  width: 26px;
  height: 26px;
  color: #333;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #03a3d4;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  font-size: 0.9rem;
  box-shadow: 0px -2px 9px rgba(3, 163, 212, 0.691),
    0px 2px 9px rgba(3, 163, 212, 0.691);
  z-index: 10;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Responsive */
@media (max-width: 600px) {
  .product-card img {
    height: 150px;
  }
  h1 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
}
